<% if policy(@wiki).update? %>
<h1>Edit Wiki</h1>
<div class="row">
  <div class="col-md-4">
    <p>Wiki rules</p>
    <ul>
      <li>Don't be a jerk.</li>
      <li>Make a wiki anyone can edit!</li>
    </ul>
  </div>
  <div class="col-md-8">
     <%= render partial: 'wikis/form' %>
  </div>
</div>
<% end %>
