
<h1> <%= (@wiki.title) %> </h1>
<div class="col-md-16">
  <p><%= (@wiki.body) %></p>
  <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-primary' %>

  <div class="user-info pull-right">
    <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
  </div>
</div>
